* {
    border: 1px solid black;
}

.art {
    margin: 2px;
    display: inline-block;
    border-radius: 10px;
    border-spacing: 0;
    width: 200px
}

.art td {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: black
}

.art .art-8m4o {
    font-size: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    ;
    text-align: center;
    border-radius: 10px
}

.art .art-eutr {
    font-size: 10px;
    font-family: "Comic Sans MS", cursive, sans-serif !important;
    ;
    vertical-align: top;
    border-radius: 10px
}